.hero-div {
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
  object-fit: contain;
}

.card {
  position: relative;
  top: -5px;
  background: linear-gradient(257deg, #1CBDDD 27.86%, #4DCA79 100%), #FFF;
  padding: 24px 40px 32px 40px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.card button {
  padding: 12px 20px;
  align-items: flex-start;
  border-radius: 4px;
  background: #F28D35;
  border: none;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.card p {
  align-self: stretch;
  color: #FFF;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.72px;
  text-transform: capitalize;
  padding-bottom: 20px;
}

@media (min-width: 767px) {
  .card p { 
    font-size: 48px;
    letter-spacing: -0.96px;
  }
}

@media (min-width: 1199px) {
  .card p { 
    font-size: 48px;
    letter-spacing: -0.96px;
  }

  .card {
    position: absolute;
    top: 398px;
    width: 622px;
    margin-left: 40px;
  }

  .hero-div {
    flex-direction: row;
  }

}

@media (min-width: 1439px) {
  .card p { 
    font-size: 48px;
    letter-spacing: -0.96px;
  }

  .card {
    position: absolute;
    top: 484px;
    width: 622px;
    margin-left: 40px;
  }
}
